body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#piano {
    height: 290px;
    padding: 90px 30px 0 30px;
    background-color: #007bff;
    border-radius: 10px;
}

.keys {
    position: relative;

}

.black-keys {
    display: flex;
    position: relative;
}

.black-key {
    width: 38px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    background-color: #000;
    position: absolute;
}

.black-key:nth-child(1) {
    left: 48px;
}

.black-key:nth-child(2) {
    left: 117px;
}

.black-key:nth-child(3) {
    left: 188px;
}

.black-key:nth-child(4) {
    left: 320px;
}

.black-key:nth-child(5) {
    left: 389px;
}

.black-key:nth-child(6) {
    left: 525px;
}

.black-key:nth-child(7) {
    left: 594px;
}

.black-key:nth-child(8) {
    left: 662px;
}

.black-key:nth-child(9) {
    left: 797px;
}

.black-key:nth-child(10) {
    left: 865px;
}

.white-keys {
    display: flex;
}

.white-key {
    width: 68px;
    height: 280px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: solid #000 2px;
    box-sizing: border-box;
}

/* Responsive adjustments for mobile devices */
@media only screen and (max-width: 720px) and (max-height:1600px) {
    body {
      /*  background-color: #007bff; */
        overflow: hidden;
        zoom: 1;
    }
    
    #piano {
      transform-origin: center;
      transform: rotate(90deg);
      /*height: 100vw;*/
      max-width: 100vh;
      max-height: 70%;
      padding: 0;
      margin: 150px 0 0 40px;
      border-radius: 20px;
    }
  
    .keys {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 200px;
    }
  
    .black-keys {
      margin-left: 0;
      width: 50px;
    }
  
    .black-key {
      width: 30px;
      height: 120px;
      position: fixed;
    }

    .black-key:nth-child(1) {
        left: 35px;
    }
    
    .black-key:nth-child(2) {
        left: 86px;
    }
    
    .black-key:nth-child(3) {
        left: 137px;
    }
    
    .black-key:nth-child(4) {
        left: 240px;
    }
    
    .black-key:nth-child(5) {
        left: 290px;
    }
    
    .black-key:nth-child(6) {
        left: 390px;
    }
    
    .black-key:nth-child(7) {
        left: 427px;
    }
    
    .black-key:nth-child(8) {
        left: 485px;
    }
    
    .black-key:nth-child(9) {
        left: 600px;
    }
    
    .black-key:nth-child(10) {
        left: 640px;
    }
  
    .white-key {
      width: 60px;
      height: 180px;
      position:static;
    }
  }

  